<footer class='bg-white border-t border-gray-600 shadow dark:bg-gray-900 dark:border-gray-600'>
	<div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
		<span class='block text-sm text-gray-900 text-center dark:text-gray-400'>© 2023
			<a href='https://github.com/WebDevMullins/average-joes' class='hover:underline'>Average Joes's 2.0™</a>. All
			Rights Reserved.</span>
	</div>
</footer>