<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average Joe's 2.0</title>
</head>
<body>
    <header class="header">
        <div class="navbar">
            <div class="home">Average Joe's 2.0</div>
            <div class="tabs">
                <div class="join">JOIN</div>
                <div class="classes">CLASSES</div>
                <div class="free_pass">FREE PASS</div>
            </div>
            </div>
    </header>
    <main>
        {{!-- insert body here --}}
        {{body}}
    </main>
    <footer class="grid grid-cols-3">
        <div class="home"></div>
        <div class="join"></div>
        <div class="policy"></div>
    </footer>
</body>
</html>
