<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Average Joe's 2.0</title>
  </head>
  <body>
    <header class="header">
      <h1>Average Joe's 2.0</h1>
      <nav class="navbar">
        <a class="home" href="/">HOME</a>
        <a class="join" href="/join">JOIN</a>
        <a class="classes" href="/classes">CLASSES</a>
        <a class="free_pass" href="/free-pass">FREE PASS</a>
      </nav>
    </header>
    <main>
      {{! insert body here }}
      {{{body}}}
    </main>
    <footer class="grid grid-cols-3">
      <div class="home"></div>
      <div class="join"></div>
      <div class="policy"></div>
    </footer>
  </body>
</html>
