<html lang='en'>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Average Joe's 2.0</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"
      rel="stylesheet"
    />
    {{!-- Dark mode switcher --}}
    <script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>
  </head>
  <body class='bg-gray-300 text-gray-900 dark:text-gray-300 dark:bg-gray-900 flex flex-col justify-between min-h-screen'>
      {{> navbar}}
    <main class=''>
      {{{body}}}
    </main>
      {{> footer}}

    {{!-- Scripts --}}
    <script src="/js/index.js"></script>
    
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    {{!-- Flowbite --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"
    ></script>
  </body>
</html>
