<main class='min-h-screen'>
	{{! Hero Section }}
	<section class='relative pt-16 pb-32 flex content-center items-center justify-center' style='min-height: 95vh;'>
		{{! Background Image }}
		<div
			class='absolute top-0 w-full h-full bg-center bg-cover'
			style='background-image: url("https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");'
		>
		</div>
		<div class='container relative mx-auto'>
			<div class='items-center flex flex-wrap'>
				<div class='w-full lg:w-6/12 px-4 ml-auto mr-auto text-center'>
					<div class='pr-12'>
						<h1 class='text-white font-semibold text-5xl mb-8'>
							<span class='text-orange-500 font-extrabold'>Build</span>
							your body.
							<span class='text-orange-500 font-extrabold'>Transform</span>
							your life.
						</h1>
						<p class='mt-4 text-white text-xl mb-10 lg:text-xl sm:px-16 lg:px-48'>
							Step into a world of cutting-edge fitness technology and expertly designed spaces. We invite you to join
							us on a journey towards a healthier, stronger, and happier you.
						</p>
						<div>
							<a
								href='/signup'
								class='inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900'
							>
								Join Us
								<svg
									class='w-3.5 h-3.5 ms-2 rtl:rotate-180'
									aria-hidden='true'
									xmlns='http://www.w3.org/2000/svg'
									fill='none'
									viewBox='0 0 14 10'
								>
									<path
										stroke='currentColor'
										stroke-linecap='round'
										stroke-linejoin='round'
										stroke-width='2'
										d='M1 5h12m0 0L9 1m4 4L9 9'
									/>
								</svg>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section>
		<div class='mx-auto max-w-screen-lg text-center py-24'>
			<h2 class='text-5xl mb-6 font-bold uppercase'>Why are we the best?</h2>
			<p class='text-xl'>Our passion for health and well-being is at the core of everything we do. Whether you're a
				seasoned fitness enthusiast or just beginning your wellness journey, our team of experienced trainers and
				fitness experts are here to guide and support you. From personalized workout plans to nutritional advice, we are
				committed to helping you reach your full potential.
			</p>
		</div>
	</section>

	{{! Stats Section }}
	<section>
		<div class='px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20'>
			<div class='grid grid-cols-2 row-gap-8 md:grid-cols-4'>
				<div class='text-center md:border-r border-gray-900 dark:border-white'>
					<h6 class='text-4xl font-bold lg:text-5xl xl:text-6xl'>10,413</h6>
					<p class='text-sm font-medium tracking-widest uppercase lg:text-base'>
						Club Members
					</p>
				</div>
				<div class='text-center md:border-r border-gray-900 dark:border-white'>
					<h6 class='text-4xl font-bold lg:text-5xl xl:text-6xl'>105</h6>
					<p class='text-sm font-medium tracking-widest uppercase lg:text-base'>
						Locations
					</p>
				</div>
				<div class='text-center md:border-r border-gray-900 dark:border-white'>
					<h6 class='text-4xl font-bold lg:text-5xl xl:text-6xl'>63</h6>
					<p class='text-sm font-medium tracking-widest uppercase lg:text-base'>
						Fitness Classes
					</p>
				</div>
				<div class='text-center'>
					<h6 class='text-4xl font-bold lg:text-5xl xl:text-6xl'>34</h6>
					<p class='text-sm font-medium tracking-widest uppercase lg:text-base'>
						Club Trainers per location
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Perks Section -->
	<section>
		<div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16'>
			<div class='bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8'>
				<div>
					<h1 class='text-gray-900 dark:text-white text-center font-semibold text-4xl pb-8'>
						<span class='text-orange-500 font-extrabold'>Club Membership</span>
						comes with
						<span class='text-orange-500 font-extrabold'>Perks</span>
						and
						<span class='text-orange-500 font-extrabold'>Amenities!</span>
					</h1>
				</div>
				{{! Image Cards }}
				<div class='px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16'>
					<div class='grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full'>
						<div class='overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm'>
							<img
								src='https://i.pinimg.com/564x/ba/3e/92/ba3e92e4ddb6b7ac886d4021689e32cb.jpg'
								class='object-cover w-full h-64'
								alt='spa'
							/>
							<div class='p-5 border border-t-0'>
								<h4 class='mt-2 text-2xl text-center font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9'>
									2.0 Spa & Massage
								</h4>

							</div>
						</div>
						<div class='overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm'>
							<img
								src='https://i.pinimg.com/564x/62/39/8f/62398f5c077b387df8f966d0d4b20b9b.jpg'
								class='object-cover w-full h-64'
								alt=''
							/>
							<div class='p-5 border border-t-0'>
								<h4 class='mt-2 text-2xl text-center font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9'>
									2.0 Sauna & Meditation
								</h4>
							</div>
						</div>
						<div class='overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm'>
							<img
								src='https://i.pinimg.com/564x/27/58/84/27588469c24ef66a16ee53a1bf3ee66e.jpg'
								class='object-cover w-full h-64'
								alt='personal trainer'
							/>
							<div class='p-5 border border-t-0'>
								<h4 class='mt-2 text-2xl text-center font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9'>
									2.0 Personal Trainer
								</h4>
							</div>
						</div>
					</div>
				</div>
				<div class='text-center'>
					<a
						href='/pricing'
						class='inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900'
					>
						Member Info
					</a>
				</div>
			</div>

			<!-- Classes/link to schedule -->
			<div class='grid md:grid-cols-2 gap-8'>
				<div class='bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12'>
					<h2 class='text-gray-900 dark:text-white text-3xl text-center font-extrabold mb-8'>2.0 Club Classes Available</h2>
					<div>
						<img
							class='object-cover w-full h-56 rounded mb-10 shadow-lg sm:h-96'
							src='https://womensfitness.co.uk/wp-content/uploads/sites/3/2020/06/shutterstock_1221827803.jpg'
						/>

						<div class='text-center'>
							<a
								href='/schedule'
								class='inline-flex justify-center items-center text-cn py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900'
							>
								Schedule Here
							</a>
						</div>
					</div>
				</div>
				<!--classes link to schedule -->

				<!-- Merch Section -->
				<div class='bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12'>
					<h2 class='text-gray-900 dark:text-white text-3xl text-center font-extrabold mb-10'>Average Joe's 2.0 Shop</h2>

					<div id='custom-controls-gallery' class='relative w-full' data-carousel='slide'>
						<!-- Carousel wrapper https://flowbite.com/docs/components/gallery/-->
						<div class='relative h-56 overflow-hidden rounded-lg md:h-96'>
							<!-- merch 1 -->
							<div class='hidden duration-700 ease-in-out' data-carousel-item>
								<img
									src='.\images\AJ-Kids T.png'
									class='absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
									alt=''
								/>
							</div>
							<!-- merch 2 -->
							<div class='hidden duration-700 ease-in-out' data-carousel-item='active'>
								<img
									src='.\images\AV-Hoodie.png'
									class='absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
									alt=''
								/>
							</div>
							<!-- merch 3 -->
							<div class='hidden duration-700 ease-in-out' data-carousel-item>
								<img
									src='.\images\AJ-Mens.png'
									class='absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
									alt=''
								/>
							</div>
							<!-- merch 4 -->
							<div class='hidden duration-700 ease-in-out' data-carousel-item>
								<img
									src='.\images\AJ-WomansSportsTop2.png'
									class='absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
									alt=''
								/>
							</div>
							<!-- merch 5 -->
							<div class='hidden duration-700 ease-in-out' data-carousel-item>
								<img
									src='.\images\AV-Sweatband2.png'
									class='absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
									alt=''
								/>
							</div>
						</div>
						<div class='flex justify-center items-center pt-4'>
							<button
								type='button'
								class='flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none'
								data-carousel-prev
							>
								<span
									class='text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white'
								>
									<svg
										class='rtl:rotate-180 w-5 h-5'
										aria-hidden='true'
										xmlns='http://www.w3.org/2000/svg'
										fill='none'
										viewBox='0 0 14 10'
									>
										<path
											stroke='currentColor'
											stroke-linecap='round'
											stroke-linejoin='round'
											stroke-width='2'
											d='M13 5H1m0 0 4 4M1 5l4-4'
										/>
									</svg>
									<span class='sr-only'>Previous</span>
								</span>
							</button>
							<button
								type='button'
								class='flex justify-center items-center h-full cursor-pointer group focus:outline-none'
								data-carousel-next
							>
								<span
									class='text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white'
								>
									<svg
										class='rtl:rotate-180 w-5 h-5'
										aria-hidden='true'
										xmlns='http://www.w3.org/2000/svg'
										fill='none'
										viewBox='0 0 14 10'
									>
										<path
											stroke='currentColor'
											stroke-linecap='round'
											stroke-linejoin='round'
											stroke-width='2'
											d='M1 5h12m0 0L9 1m4 4L9 9'
										/>
									</svg>
									<span class='sr-only'>Next</span>
								</span>
							</button>
						</div>
					</div>
					<p class='text-lg text-center py-4'>Elevate your workouts with our performance-driven activewear. From
						moisture-wicking fabrics to ergonomic designs, our performance apparel is crafted to keep up with your most
						intense training sessions.</p>
				</div>
			</div>
		</div>
	</section>

</main>