 <main class="hero">
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 100vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://i.pinimg.com/564x/47/90/7d/47907d6090bd8c3d00eb074fbdde9175.jpg");'
        >
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold  text-5xl">
                <span class="text-orange-500 font-extrabold">Build</span> your body. <span class="text-orange-500 font-extrabold">Transform</span> your life.
                </h1>
                <p class="mt-4 text-lg text-white-300  mb-8 text-lg font-normal lg:text-xl sm:px-16 lg:px-48">
                Step into a world of cutting-edge fitness technology and expertly designed spaces.
                 
                We invite you to join us on a journey towards a healthier, stronger, and happier you.
                </p>
                 <div class="joinUsBtnContainer">
                    <a href="/signup" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              JOIN US
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>

                 </div>
              </div>
            </div>
          </div>
        </div>
        </div>

</main>

 <!-- About Section -->

 <Section class="aboutUs">
<div class="mx-auto max-w-lg text-center py-24">
        <h2 class="text-5xl mb-6 font-bold uppercase ">Why we are the best?</h2>
        <p class="text-xl">Our passion for health and well-being is at the core of everything we do.
                </p>
    </div>
</Section>
 <!-- About Section -->

 <!-- Fake stats Section -->
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid grid-cols-2 row-gap-8 md:grid-cols-4">
    <div class="text-center md:border-r">
      <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">10,413</h6>
      <p class="text-sm font-medium tracking-widest text-gray-400 uppercase lg:text-base">
        Club Members
      </p>
    </div>
    <div class="text-center md:border-r">
      <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">205</h6>
      <p class="text-sm font-medium tracking-widest text-gray-400 uppercase lg:text-base">
        Locations
      </p>
    </div>
    <div class="text-center md:border-r">
      <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">63</h6>
      <p class="text-sm font-medium tracking-widest text-gray-400 uppercase lg:text-base">
        Fitness Classes
      </p>
    </div>
    <div class="text-center">
      <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">34</h6>
      <p class="text-sm font-medium tracking-widest text-gray-400 uppercase lg:text-base">
        Club Trainers per location
      </p>
    </div>
  </div>
</div>
  <!-- Fake stats Section -->




</main>


