<main class="hero">
  <div class="imgContainer">
  </div>
  <div class="info">
    <h2>ABOUT US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, sint.
      Asperiores, odit? Minus neque dolor veniam, mollitia eveniet deserunt
      molestias aliquid excepturi quas possimus esse.</p>
  </div>
</main>
