<main class="hero">
  <div class="imgContainer">
    INSERT IMAGE OF BUFF GUY AND OR RANDOM GYM STUFF
  </div>
  <div class="joinUsBtnContainer">
    <a href="/signup">JOIN US</a>
  </div>
  <section class="aboutUs">
    <h2>ABOUT US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, sint.
      Asperiores, odit? Minus neque dolor veniam, mollitia eveniet deserunt
      molestias aliquid excepturi quas possimus esse.</p>
  </section>
  <section class="memberships">
    <h2>MEMBERSHIPS</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel est impedit
      assumenda nisi expedita consequatur vero. Nihil, non? Animi nesciunt ab
      eum fugit deserunt vero.</p>
  </section>
  <section class="perks">
    <h2>PERKS</h2>
    <h3>SAUNA, POOL, AND MORE</h3>
  </section>
  <section class="team bg-white dark:bg-gray-900">
    {{> team}}
  </section>
</main>
