<div class="card-container">
  <div class="card">
    <h2 class="logIn"></h2>
    <form action="" class="signup-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="text" id="pass" />
      </div>
      <div class="form-group">
        <button type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>

<script src="../public/js/login.js"></script>
