<section class='flex flex-col items-center px-6 py-8 mx-auto md:h-screen max-w-screen-xl lg:py-0'>
	<div class='w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700'>
		<div class='flex flex-col items-left py-10 px-4'>
			<div class='flex items-center mb-4'>
				<img class='w-20 h-20 rounded-3xl shadow-lg' src='/images/gym.png' alt='Profile Image' />
				<h5 class='mx-4 text-xl font-medium text-gray-900 dark:text-white'>{{f_name}} {{l_name}}</h5>
			</div>
			<div class='text-sm text-gray-500 dark:text-gray-400'>Email addres</div>
			<a href='mailto:{{email}}'>{{email}}</a>
			<div class='text-sm text-gray-500 dark:text-gray-400'>Home addres</div>
		</div>
	</div>
</section>