{{!-- <div>
{{#each tier as |tier|}}
    <div>
        <h2>{{tier.name}}</h2>
    </div>
{{/each}}
</div> --}}

{{!-- <div>
    <h2>Hello</h2>
</div> --}}

<div>
    <ul>
        {{#each tier as |tier|}}
            <li>{{tier.name}}</li> 
        {{/each}}
    </ul>
</div>